.title__title {
    font-size: 39px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    line-height: 33px;
    margin: 0;
}