.portfolio__banner-text-text {
    max-width: 250px;
    font-size: 16px;
    line-height: 20px;
    color: #1b1b1b;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    margin: 0 0 49px 0;
}

@media screen and (max-width: 1280px){
    .portfolio__banner-text-text {
        margin: 0 0 44px 0;
    }
}

@media screen and (max-width: 1120px){
    .portfolio__banner-text-text {
        margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 968px){
    .portfolio__banner-text-text {
        max-width: 200px;
        font-size: 13px;
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 840px){
    .portfolio__banner-text-text {
        max-width: 200px;
        font-size: 11px;
        line-height: 15px;
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 670px){
    .portfolio__banner-text-text {
        max-width: 150px;
        font-size: 10px;
        line-height: 13px;
        margin: 0 0 5px 0;
    }
}

@media screen and (max-width: 530px){
    .portfolio__banner-text-text {
        max-width: 120px;
        font-size: 7px;
        line-height: 10px;
    }
}

@media screen and (max-width: 430px){
    .portfolio__banner-text-text {
        max-width: 90px;
        font-size: 6px;
        line-height: 7px;
        margin-bottom: 0;
    }
}