.work {
    background-image: url("../../images/back-work.jpg");
    background-size: cover;
    background-position: top center;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 651px;
    box-sizing: border-box;
    padding-bottom: 152px;
}