.header {
    background-image: url("../../images/back-header.jpg");
    background-position: top center;
    background-size: cover;
    min-height: 1855px;
    padding-bottom: 74px;
    box-sizing: border-box;
}