@media screen and (max-width: 926px) {
    .button_section_header {
        width: 100px;
        height: 28px;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .button_section_header {
        width: 80px;
        height: 22px;
        font-size: 11px;
    }
}

@media screen and (max-width: 640px) {
    .button_section_header {
        width: 60px;
        height: 17px;
        font-size: 7px;
    }
}

@media screen and (max-width: 425px) {
    .button_section_header {
        width: 40px;
        height: 11px;
        font-size: 4px;
    }
}