.testimonials__column {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    .testimonials__column {
        margin-bottom: 30px;
        max-width: 300px;
    }

    .testimonials__column:last-child {
        margin-bottom: 0;
    }
}