.work__column {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .work__column {
        margin-bottom: 35px;
    }

    .work__column:last-child {
        margin-bottom: 0;
    }
}