.header__banners {
    display: grid;
    grid-template-columns: minmax(260px, 1084px);
    align-items: center;
    justify-content: flex-end;

    padding-left: 23%;
    position: relative;
    top: -94px;
}

@media screen and (min-width: 1440px) {
    .header__banners {
        grid-template-columns: minmax(280px, 1500px);
    }
}

@media screen and (max-width: 1280px) {
    .header__banners {
        top: -71px;
    }
}

@media screen and (max-width: 1024px) {
    .header__banners {
        top: -41px;
    }
}

@media screen and (max-width: 734px) {
    .header__banners {
        top: -31px;
    }
}

@media screen and (max-width: 425px) {
    .header__banners {
        top: -21px;
    }
}