.work__column-img {
    height: 73px;
    width: 73px;
    margin: 0 23px 0 0;
}

@media screen and (max-width: 425px){
    .work__column-img {
        height: 70px;
        width: 70px;
        margin-right: 20px;
    }
}