.testimonials__content {
    display: grid;
    grid-template-columns: minmax(200px, 320px) minmax(50px, 168px) minmax(200px, 320px);
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .testimonials__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}