.banner-text-top__text {
    font-style: normal;
    max-width: 256px;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    margin: 0 0 46px 0;
}