.work__column-text {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    font-style: normal;
    margin: 0;
    max-width: 222px;
}

@media screen and (max-width: 1024px){
    .work__column-text {
        max-width: 300px;
    }
}